@import '@styles';

.root {
  position: relative;
  min-height: 80vh;
}

.content {
  display: grid;

  grid-template:
    'title image'
    'subtitle image'
    'button image'
    / minmax(0, 700px) 1fr;

  place-self: center;
  text-align: center;

  @include tablet() {
    grid-template:
      'title .'
      'subtitle subtitle'
      'button button'
      / 75% auto;

    gap: var(--space_2xl);
    text-align: left;
  }

  @include mobile() {
    grid-template:
      'title title'
      'subtitle subtitle'
      'button button'
      / 75% auto;
  }
}

.image {
  position: relative;
  grid-area: image;

  width: 500px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }

  @include tablet() {
    position: absolute;
    top: 16vh;
    left: 50vw;
    z-index: 1;
    max-width: 400px;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: $gradient-background;
      content: '';
    }
  }

  @include mobile() {
    top: 28vh;

    left: 38vw;
    max-width: 340px;
  }
}

.title {
  z-index: 2;
  grid-area: title;
}

.logo {
  color: hsl(var(--secondary));
  font-size: 1.2em;

  &>span {
    font-weight: 400;
  }
}

.subtitle {
  @extend %h1-home-subtitle;

  z-index: 3;
  grid-area: subtitle;
}

.button {
  z-index: 5;
  display: flex;
  grid-area: button;

  justify-content: center;

  width: 100%;

  @include tablet() {
    & button {
      width: 100%;
    }
  }
}