@import "@styles";

.root {
  @extend %body-large;

  display: flex;
  gap: var(--space_s);

  justify-content: space-between;

  width: 100%;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
