@import '@styles';

.root {
    @extend %body-large;

    display: flex;
    justify-content: space-between;
    gap: var(--space_s);

    font-weight: 600;
    text-align: left;


    width: 100%;

    cursor: pointer;

    transition: background-color 0.3s ease;
}