@import '@styles';

.root {
    @include font(normal 400 48px / 100% "Inter Variable");
    // @include font(normal 500 48px / 100% "Inter Variable");
    display: flex;
    align-items: center;

    padding: var(--space_xs) var(--space_m);
}

.default {
    color: white;
}

.monochrome {
    color: #282C7E;
}

.default .icon {
    fill: #D7FF81;
}

.monochrome .icon {
    fill: #282C7E;
}

.accent {
    // @include font(normal 800 48px / 100% "Inter Variable");
    @include font(normal 800 48px / 100% "Inter Variable");
}