@import '@styles';

.root {
    display: flex;
    flex-direction: column;
    gap: var(--space_l);
}

.list-group {
    display: flex;
    flex-direction: column;
    gap: var(--space_m);
}

.notes-list {
    display: flex;
    flex-direction: column;
    gap: var(--space_s);
}

.pagination-nav {
    display: inline-flex;
    align-items: center;
    gap: (--space_2xs);
}