@import "@styles";

.root {
  width: 100%;
  color: hsl(var(--secondary-foreground));
  background-color: hsl(var(--secondary));

  & p {
    // @include font(normal 600 36px / 140% "Inter");
    @extend %h1-home-subtitle-bold;

    & em {
      color: hsl(var(--accent));
    }
  }
}

.content {
  display: grid;

  grid-template-columns: 2fr 3fr;
  place-items: center center;

  padding: var(--space_3xl) 0;

  @include tablet() {
    grid-template-columns: 1fr;
  }
}
