@import '@styles';

.root {
    display: flex;
    gap: var(--space_2xs);

    @include tablet() {
        flex-direction: column;
    }
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space_2xs);
}