@import '@styles';

.root {
  display: flex;
  gap: var(--space_2xs);

  @include tablet() {
    flex-direction: column;
  }
}

.column {
  display: flex;

  flex: 1;
  flex-direction: column;
  gap: var(--space_2xs);
}
