.root {
  width: 100%;
  border: 2px;
  padding: var(--space_s) var(--space_xl);

  border-radius: var(--border-radius-s);
  border-color: hsl(var(--white) / 0.8);
  background-color: hsl(var(--card));

  resize: none;

  &::placeholder {
    color: hsl(var(--white) / 0.5);
    font-style: italic;
  }
}
