.root {
  width: 100%;
  padding: var(--space_s) var(--space_xl);
  overflow-wrap: anywhere;
  background-color: hsl(var(--card));
  border: 2px;
  border-color: hsl(var(--white) / 0.8);
  border-radius: var(--border-radius-s);
  resize: none;

  &::placeholder {
    color: hsl(var(--white) / 0.5);
    font-style: italic;
  }
}
