.root {
  width: 100%;
  padding: var(--space_s) var(--space_xl);
  overflow-wrap: anywhere;
  background-color: hsl(var(--card));
  border-width: 0;
  border-radius: var(--border-radius-s);
  transition: var(--transition-color);
  resize: none;

  &::placeholder {
    color: hsl(var(--white) / 0.5);
    font-style: italic;
  }

  &.error {
    box-shadow: var(--box-shadow-form);
  }
}
