@import "@styles";

.root {
  gap: var(--space_m);

  // max-width: 900px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

// .row {
//     display: flex;
//     flex-direction: row;
// }

.text-big {
  @extend %h1-home-subtitle;
}
