@import '@styles';

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & textarea {
        width: 100%;
        background-color: aquamarine;
        resize: none;
    }
}

.title {
    @include font(normal 700 48px / 52px 'Inter');

    display: block;
    background-color: transparent;
}