@import "@styles";

.root {
  display: flex;

  flex-direction: column;
  gap: var(--space_s);

  label {
    @extend %h4;
  }
}

.section {
  display: flex;

  flex-direction: column;
  gap: var(--space_xs);
}

.range {
  height: 51px;
}

.buttons {
  display: flex;
  gap: var(--space_xs);

  justify-content: end;
}
