@import "@styles";

.root {
  display: flex;

  flex-direction: column;
  gap: var(--space_m);
}

.description {
  @extend %text-explaining-style;
  // @extend %body-small;

  // color: hsl(var(--text-muted));

  // & ol {
  //     @include numbered-list;

  // }

  // & li {
  //     @include styled-list;
  // }

  // & p:not(:last-child) {
  //     margin-bottom: var(--base-margin);

  // }
}

// .description {
//     @extend %body-small;

//     color: hsl(var(--white) / 0.7);

//     & ol {
//         @include styled-list;

//     }

//     & p:not(:last-child) {
//         margin-bottom: var(--base-margin);

//     }
// }
