@import '@styles';

.root {
  display: flex;

  flex-direction: column;
  gap: var(--space_m);
}

.description {
  @extend %text-explaining-style;
}

.inner {
  display: flex;

  flex-direction: column;
  gap: var(--space_2xs);
}
