// %text-display {
//     @include font(normal 700 96px / 85% "Inter", -1.2px);
// }

%h1-home {
  // @include font(normal 500 100px / 110% "Inter", -1.2px);
  // @include font(normal 700 96px / 95% "Inter", -1.5px);
  @include font(normal 700 74px / 100% "Inter");

  @include tablet() {
    @include font(normal 700 48px / 110% "Inter");
  }
}

// %text-display-subtitle {
//     // @include font(normal 500 42px / 150% "Inter");
//     @include font(normal 500 34px / 120% "Inter");
// }

%h1-home-subtitle {
  // @include font(normal 500 42px / 150% "Inter");
  // @include font(normal 400 28px / 130% "Inter");
  @include font(normal 400 28px / 140% "Inter");

  @include tablet() {
    @include font(normal 400 22px / 140% "Inter");
  }
}

%h1-home-subtitle-bold {
  // @include font(normal 500 42px / 150% "Inter");
  // @include font(normal 400 28px / 130% "Inter");
  // @include font(normal 400 28px / 140% "Inter");
  @include font(normal 600 36px / 140% "Inter");

  @include tablet() {
    @include font(normal 600 28px / 140% "Inter");
  }
}

%h2-home {
  @include font(normal 700 48px / 64px "Inter");

  @include tablet() {
    @include font(normal 700 36px / 120% "Inter");
  }
}

%h3-home {
  @include font(normal 700 36px / 110% "Inter", -1%);
}

%h1 {
  @include font(normal 700 48px / 64px "Inter");

  @include tablet() {
    @include font(normal 700 36px / 140% "Inter");
  }
}

%h2 {
  @include font(normal 700 34px / 120% "Inter");

  @include tablet() {
    @include font(normal 700 32px / 120% "Inter");
  }
}

// %h2 {
//     @include font(normal 700 36px / 120% "Inter");

//     @include tablet() {
//         @include font(normal 700 32px / 120% "Inter");

//     }
// }

// %h2-subtitle {
//     @include font(normal 400 28px / 140% "Inter");
// }

%h3 {
  // @include font(normal 700 36px / 110% "Inter", -1%);
  @include font(normal 700 24px / 32px "Inter");

  @include tablet() {
    @include font(normal 700 22px / 120% "Inter");
  }
}

%h4 {
  @include font(normal 600 20px / 28px "Inter");

  @include tablet() {
    @include font(normal 600 18px / 28px "Inter");
  }

  // @include font(normal 700 24px / 32px "Inter");
}

%h5 {
  // @include font(normal 600 22px / 28px "Inter");
  @include font(normal 700 18px / 120% "Inter");
}

%h3-subtitle {
  @include font(normal 500 24px / 122% "Inter", -1%);

  // @include tablet() {
  //     @include font(normal 400 16px / 23px 'Roboto');
  // }
}

%diary-title {
  @extend %h1;
}

%body-small {
  @include font(normal 400 16px / 140% "Inter", -1%);
}

%body-large {
  @include font(normal 400 20px / 140% "Inter", -1%);
}

%text-button-lg {
  @include font(normal 500 20px / 24px "Inter");
}

%text-button-l {
  @include font(normal 500 18px / 24px "Inter");
}

%text-button-m {
  @include font(normal 500 16px / 18px "Inter");
}

%text-button-sm {
  @include font(normal 500 14px / 18px "Inter");
}

%text-explaining-style {
  @extend %body-small;

  color: hsl(var(--text-muted));

  & ol {
    @extend %numbered-list;
  }

  & ul {
    @extend %styled-list;
  }

  & p:not(:last-child) {
    margin-bottom: var(--base-margin);
  }
}

%reset-list {
  margin: 0;
  padding: 0;
  font-size: 1em;
  list-style: none;
}

%styled-list {
  display: flex;

  flex-direction: column;
  gap: 0.75em;

  margin-left: 1.25em; // 1.25rem padding-left
  font-size: 1em;
  list-style: disc;
}

// @mixin numbered-list($font-size: 1rem) {
//     list-style: decimal;
//     display: flex;
//     flex-direction: column;
//     // gap: var(--base-margin);
//     gap: calc(#{$font-size} * 0.5);
//     // margin: calc(#{$font-size} * 1) 0;
//     margin-left: calc(#{$font-size} * 1.25); // 1.25rem padding-left
//     font-size: $font-size;
// }

%numbered-list {
  display: flex;

  flex-direction: column;
  gap: 0.5em;

  margin-left: 1.25em; // 1.25rem padding-left
  font-size: 1em;
  list-style: decimal;
}

// %p-big {
//     @include font(normal 700 23px / 28px 'Roboto');

//     @include tablet() {
//         @include font(normal 700 16px / 23px 'Roboto');
//     }
// }

// %p-small {
//     @include font(normal 400 17px / 24px 'Roboto', -0.17px);

//     @include tablet() {
//         @include font(normal 400 16px / 23px 'Roboto', -0.16px);
//     }
// }
