:root {
  --list-item-block-padding: 10px;
  --list-item-gap: 12px;
  --shadow-low: 0 2px 5px var(--shadow-color);
  --shadow-medium: 0 7px 23px var(--shadow-color);
  --shadow-high: 0 12px 52px var(--shadow-color);

  --border-radius-xxs: 4px;
  --border-radius-xs: 8px;
  --border-radius-s: 12px; //+
  --border-radius-m: 16px; //+
  --border-radius-l: 24px; //+

  --bg-color: #f5f7f9;

  --fill-color-7-200: #e2dff5;
  --fill-color-default-100: #edeff2;

  --text-color-primary: rgba(0, 0, 0, 0.84706);
  --text-color-secondary: rgba(0, 0, 0, 0.50196);

  --button-height-l: 56px;
  --button-height-m: 48px;
  --button-height-s: 40px;
  --button-height-xs: 36px;

  --button-padding-l: 0 24px;
  --button-padding-m: 0 20px;
  --button-padding-s: 0 20px;

  --button-font-size-l: 18px;
  --button-line-height-l: 1.11;
  --button-font-size-m: 16px;
  --button-line-height-m: 1.25;
  --button-font-size-s: 14px;
  --button-line-height-s: 1.28;
  --button-border-radius-m: var(--border-radius-m);
  --button-border-radius-s: var(--border-radius-s);
  --content-padding-xxs: 8px;
  --content-padding-xs: 16px;
  --content-padding-xs2: 12px;
  --content-padding-s: 20px;
  --content-padding-m: 24px;
  --content-padding-l: 28px;
  --content-padding-xl: 32px;
  --content-padding-xxl: 40px;
  --content-max-width: 520px;
  --content-width-sm-up: calc(520px + var(--content-padding-m) * 2);
  --header-height-xs: 56px;
  --header-height-s: 60px;
  --header-height-m: 76px;
  --header-height-l: 80px;
  --dialog-border-radius: 28px;
  --dialog-padding: var(--dialog-border-radius);
  --dialog-min-height: 561px;
  --dialog-max-height: 763px;
  --dialog-width: 520px;
  --dialog-sticky-actions-padding-top: 16px;
  --checkbox-size-m: 26px;
  --checkbox-size-l: 32px;
  --snackbar-top: calc(var(--sait, 0px) + 6px);
  --snackbar-top-sm-up: calc(var(--sait, 0px) + 16px);
  --drawer-max-height: calc(var(--yabank-layout-app-height) * 0.83);
  --drawer-fullscreen-height: calc(var(--yabank-layout-app-height) * 0.93);
  --yabank-layout-app-height: 100vh;
  --dialog-layout-safe-padding-bottom: max(
    calc(var(--saib, 0px) + 8px),
    var(--dialog-padding)
  );
  --headline0-bold-font-size: 128px;
  --headline0-bold-line-height: 0.82;
  --headline0-bold-letter-spacing: -1.2px;
  --headline0-bold-font-weight: bold;
  --headline1-font-size: 32px;
  --headline1-line-height: 1.06;
  --headline1-letter-spacing: -0.5px;
  --headline1-font-weight: 500;
  --headline1-bold-font-size: 40px;
  --headline1-bold-line-height: 1;
  --headline1-bold-letter-spacing: -1;
  --headline1-bold-font-weight: bold;
  --headline2-font-size: 26px;
  --headline2-line-height: 1.08;
  --headline2-letter-spacing: -0.5px;
  --headline2-font-weight: 500;
  --headline2-bold-font-size: 36px;
  --headline2-bold-line-height: 1;
  --headline2-bold-letter-spacing: -1;
  --headline2-bold-font-weight: bold;
  --headline3-font-size: 22px;
  --headline3-line-height: 1.09;
  --headline3-font-weight: 500;
  --title1-font-size: 18px;
  --title1-line-height: 1.112;
  --title1-font-weight: 500;
  --title2-font-size: 16px;
  --title2-line-height: 1.25;
  --title2-font-weight: 500;
  --title3-font-size: 14px;
  --title3-line-height: 1.29;
  --title3-font-weight: 500;
  --body1-font-size: 18px;
  --body1-line-height: 1.11;
  --body1-font-weight: normal;
  --body2-font-size: 16px;
  --body2-line-height: 1.25;
  --body2-font-weight: normal;
  --body3-font-size: 14px;
  --body3-line-height: 1.29;
  --body3-font-weight: normal;
  --numbers1-font-size: 60px;
  --numbers1-line-height: 1.07;
  --numbers1-letter-spacing: -1.5px;
  --numbers1-font-weight: normal;
  --numbers2-font-size: 52px;
  --numbers2-line-height: 1.08;
  --numbers2-letter-spacing: -1.5px;
  --numbers2-font-weight: normal;
  --numbers2-bold-font-size: 52px;
  --numbers2-bold-line-height: 1.08;
  --numbers2-bold-letter-spacing: -1.5px;
  --numbers2-bold-font-weight: bold;
  --numbers3-font-size: 40px;
  --numbers3-line-height: 1.1;
  --numbers3-letter-spacing: -1px;
  --numbers3-font-weight: normal;
  --numbers4-font-size: 32px;
  --numbers4-line-height: 1.125;
  --numbers4-letter-spacing: -1px;
  --numbers4-font-weight: normal;
  --numbers5-font-size: 24px;
  --numbers5-line-height: 1.083;
  --numbers5-letter-spacing: -0.5px;
  --numbers5-font-weight: 500;
  --numbers6-font-size: 18px;
  --numbers6-line-height: 1.11;
  --numbers6-font-weight: 500;
  --caption1-font-size: 13px;
  --caption1-line-height: 1.23;
  --caption1-font-weight: normal;
  --caption1-medium-font-size: 13px;
  --caption1-medium-line-height: 1.23;
  --caption1-medium-font-weight: 500;
  --caption2-font-size: 12px;
  --caption2-line-height: 1.17;
  --caption2-font-weight: 500;
  --caption3-font-size: 11px;
  --caption3-line-height: 1.09;
  --caption3-font-weight: normal;
  --caption3-medium-font-size: 11px;
  --caption3-medium-line-height: 1.09;
  --caption3-medium-font-weight: 500;
  --caption3-bold-font-size: 11px;
  --caption3-bold-line-height: 1.09;
  --caption3-bold-font-weight: bold;
  --caption4-font-size: 11px;
  --caption4-line-height: 1.09;
  --caption4-font-weight: 500;
  --system-large-font-size: 140px;
  --system-large-line-height: 1;
  --system-large-font-weight: 500;
  --system-large-font-letter-spacing: 14px;
  --system-title1-font-size: 48px;
  --system-title1-line-height: 1;
  --system-title1-font-weight: normal;
  --system-title1-font-letter-spacing: 5px;
  --system-title2-font-size: 32px;
  --system-title2-line-height: 1;
  --system-title2-font-weight: normal;
  --system-title2-font-letter-spacing: 2px;
  --system-description-text-font-size: 14px;
  --system-description-text-line-height: 1.57;
  --system-description-text-font-weight: normal;
  --sait: var(--android-safe-area-inset-top, env(safe-area-inset-top));
  --saib: var(--android-safe-area-inset-bottom, env(safe-area-inset-bottom));
  --sail: var(--android-safe-area-inset-left, env(safe-area-inset-left));
  --sair: var(--android-safe-area-inset-right, env(safe-area-inset-right));
  --webview-grip-padding: 12px;
  --general-safe-area-inset-bottom: calc(var(--saib, 0) + 8px);
}

// $font-sizes: (
//   'display': (
//     'desktop': (size: 74px, line-height: 100%, weight: 700),
//     'tablet': (size: 48px, line-height: 140%, weight: 700)
//   )
//   'h1': (
//     'desktop': (size: 48px, line-height: 64px, weight: 700),
//     'tablet': (size: 28px, line-height: 140%, weight: 700)
//   ),
//   'h2': (
//     'desktop': (size: 36px, line-height: 110%, weight: 700),
//     'tablet': (size: 28px, line-height: 140%, weight: 700)
//   ),
//   'h3': (
//     'desktop': (size: 24px, line-height: 32px, weight: 700),
//     'tablet': (size: 24px, line-height: 122%, weight: 500)
//   ),
//   'h4': (
//     'desktop': (size: 24px, line-height: 32px, weight: 700),
//     'tablet': (size: 18px, line-height: 140%, weight: 700)
//   ),
//   'display-subtitle': (
//     'desktop': (size: 28px, line-height: 140%, weight: 400),
//     'tablet': (size: 24px, line-height: 140%, weight: 400)
//   ),
//   'h3-subtitle': (
//     'desktop': (size: 28px, line-height: 140%, weight: 500),
//     'tablet': (size: 24px, line-height: 140%, weight: 400)
//   ),
//   // Define other headings and body sizes similarly
// );

$desktopScreenSize: 1280;
$tabletScreenSize: 1000;
$mobileScreenSize: 550;

// $gradient-primary: linear-gradient(45deg, #ff6b6b, #f94d6a);
// $gradient-secondary: linear-gradient(45deg, #1fddff, #25a9e0);
// $gradient-tertiary: linear-gradient(45deg, #a1c4fd, #c2e9fb);

$gradient-primary: linear-gradient(
  45deg,
  hsl(var(--purple)),
  hsl(var(--blue-300))
);
$gradient-secondary: linear-gradient(
  45deg,
  hsl(var(--green)),
  hsl(var(--blue-300))
);
$gradient-accent: linear-gradient(
  45deg,
  hsl(var(--pink)),
  hsl(var(--blue-100))
);
$gradient-background: linear-gradient(
  45deg,
  hsl(var(--blue)),
  hsl(var(--blue-100))
);
$gradient-background: linear-gradient(
  20deg,
  hsl(var(--green) / 0.5),
  hsl(var(--blue)),
  hsl(var(--blue-100))
);

// $desktopScreenSize: 1280;
// $tabletScreenSize: 1000;
// $mobileScreenSize: 550;
