@import "@styles";

.benefits {
  display: grid;
  grid-template-columns: 1fr 166px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--space_l);

  @include tablet() {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: var(--space_m);
  }
}

.benefit {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--space_3xl);

  padding: var(--space_2xl);
  border-radius: var(--border-radius-l);

  overflow: hidden;

  background-color: hsl(var(--white));
  color: hsl(var(--black));

  &:first-child {
    grid-column: 1 / span 2;
  }

  &:last-child {
    grid-column: 2 / span 2;
  }

  @include tablet() {
    &:first-child,
    &:last-child {
      grid-column: 1 / span 1;
    }
  }
}

.svg {
  position: absolute;

  top: 0;
  right: 0;
}

.text {
  z-index: 1;
}
