@import '@styles';

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: var(--space_l);

    min-height: 50vh;
}

.benefits {
    display: grid;
    grid-template-columns: 1fr 166px 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--space_l);
}

.benefit {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: var(--space_3xl);

    padding: var(--space_2xl);
    border-radius: var(--border-radius-l);

    overflow: hidden;

    background-color: hsl(var(--white));
    color: hsl(var(--black));

    // backdrop-filter: blur(1.2px);

    &:first-child {
        grid-column: 1 / span 2;
    }

    &:last-child {
        grid-column: 2 / span 2;
    }
}

.svg {
    position: absolute;

    top: 0;
    right: 0;
}

.text {
    z-index: 1;
}