.root {
  display: flex;

  flex-direction: column;
  gap: var(--space_l);

  & hr {
    height: 2px;
    background-color: hsl(var(--white) / 0.2);
  }
}

.header {
  display: flex;

  flex-direction: column;
}

.buttons {
  display: flex;

  flex-direction: column;
  gap: var(--space_2xs);
}
