@import '@styles';

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--section-space-intro);

    width: 100%;

}

.primary {
    display: flex;
    flex-direction: column;
    gap: var(--space_l);

    width: 100%;

    @extend %text-display-subtitle;
}

.description {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: var(--space_m);
}

.accent {
    width: 100%;
    background-color: hsl(var(--secondary));
    color: hsl(var(--secondary-foreground));

    & p {
        @include font(normal 600 36px / 140% "Inter Variable");

        & span {
            color: hsl(var(--accent));
            font-variation-settings:
                "slnt" -10;
        }
    }
}

.illustration {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    justify-items: center;

    padding: var(--space_3xl) 0;
}