@import "@styles";

.root {
  @extend %text-button-l;
  display: flex;
  gap: var(--space_s);

  width: 100%;
  padding: var(--space_s) var(--space_xl);

  border-radius: var(--border-radius-full);
  background-color: hsl(var(--muted));

  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:placeholder {
    color: hsl(var(--muted-foreground));
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.icon-search {
  flex: 0 1 auto;
  color: hsl(var(--text-muted));
}

.input {
  background-color: transparent;
  flex: 1 1 auto;
}

.btn-reset {
  flex: 0 1 auto;
}
