@import '@styles';

.root {
  @extend %text-button-l;

  display: flex;
  gap: var(--space_s);

  width: 100%;
  padding: var(--space_s) var(--space_xl);
  background-color: hsl(var(--muted));
  border-radius: var(--border-radius-full);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  transition-duration: 150ms;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;

  &::placeholder {
    color: hsl(var(--muted-foreground));
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.icon-search {
  flex: 0 1 auto;
  color: hsl(var(--text-muted));
}

.input {
  flex-grow: 1;

  width: 150px;
  max-width: 100%;
  background-color: transparent;
}
