@import '@styles';

.root {
    display: grid;
    grid-template-columns: 2fr 1fr;
    // gap: var(--space_s);
    gap: var(--space_xs);

    padding: var(--space_m);

    border-radius: var(--border-radius-m);
    background-color: hsl(var(--card));
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 36px;
    gap: var(--space_2xs);
}