@import "@styles";

.root {
  display: flex;
  flex-direction: column;
  gap: var(--space_l);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--space_2xs);
}

.item {
  display: grid;

  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr auto;

  grid-template-areas:
    "number thought"
    "number response";
}

.number {
  grid-area: number;
  place-self: center;

  font-size: 42px;
  color: hsl(var(--secondary));
}

.thought {
  @extend %body-small;

  grid-area: thought;
  align-self: center;

  padding: var(--space_xs) var(--space_s);

  font-style: italic;
}

.response {
  grid-area: response;
}

.button {
  align-self: center;
  gap: var(--space_2xs);

  &:hover .icon {
    color: hsl(var(--secondary) / 0.8);
  }
}
