@import '@styles';

.root {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // flex-direction: column;
    gap: var(--space_s);
    // flex-wrap: wrap;
    // gap: var(--space_3xs);

}

.group {
    display: flex;
    flex-direction: column;
    gap: var(--space_xs);
}

.emotionGroup {
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--space_3xs);
}