@import "@styles";

.root {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  gap: var(--space_m);

  @include tablet() {
    grid-template-columns: 1fr;
  }
}

.group {
  display: flex;

  flex-direction: column;
  gap: var(--space_xs);
}

.emotion-group {
  display: inline-flex;

  flex-wrap: wrap;
  gap: var(--space_2xs);
}
