@import '@styles';

.root {
  font-weight: 600;
}

.link {
  padding: var(--space_xs) var(--space_m);
  text-align: center;
  text-transform: uppercase;
  list-style: none;

  border-radius: var(--border-radius-s);

  @include hover() {
    &:hover {
      color: hsl(var(--foreground) / 0.85);
    }
  }

  &[aria-current='page'] {
    color: hsl(var(--secondary));

    @include hover() {
      &:hover {
        color: hsl(var(--secondary) / 0.85);
      }
    }
  }
}