@import "@styles";

.root {
  font-weight: 600;
}

.link {
  padding: var(--space_xs) var(--space_m);

  border-radius: var(--border-radius-s);

  list-style: none;
  text-transform: uppercase;

  &:hover {
    color: hsl(var(--foreground) / 0.85);
  }

  &[aria-current="page"] {
    color: hsl(var(--secondary));

    &:hover {
      color: hsl(var(--secondary) / 0.85);
    }
  }
}
