@import '@styles';

.root {
    @apply shadow-md;
    z-index: 50;
    width: 18rem;
    border-radius: calc(var(--radius) - 2px);
    border-width: 1px;
    background-color: hsl(var(--popover));
    padding: 1rem;
    color: hsl(var(--popover-foreground));
    outline: 2px solid transparent;
    outline-offset: 2px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    display: grid;
    grid-template-columns: auto 272px;
    gap: var(--space_xl);

    padding: var(--space_2xl);
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--space_xl);
}