@import "@styles";

.root {
  @extend %text-button-sm;

  padding: var(--space_2xs) var(--space_xs);
  color: hsl(var(--secondary-foreground));
  background-color: hsl(var(--secondary));
  border-radius: var(--border-radius-xs);
}
