@import '@styles';

.root {
  padding: var(--space_xl);
  background: $gradient-primary;
  border-radius: var(--border-radius-l);
}

.inner {
  display: flex;

  flex-direction: column;
  gap: var(--space_s);
}

.section {
  display: flex;

  flex-direction: column;
  gap: var(--space_xs);
}

.area {
  padding: var(--space_s) var(--space_xl);
}

.buttons {
  display: flex;
  gap: var(--space_xs);

  justify-content: end;
}
