@import "@styles";

.root {
  display: flex;
  flex-direction: column;
  gap: var(--space_xs);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--space_2xs);
}

.item {
  display: grid;
  grid-template-columns: 24px auto;

  align-items: center;
}

.input-row {
  display: flex;
  align-items: center;

  padding: var(--space_s) var(--space_xl);
  border-radius: var(--border-radius-s);
  background-color: hsl(var(--card));

  & .icon-delete {
    flex: 0 0 auto;
  }

  & .textarea {
    flex: 1 1 auto;

    max-width: 100%;
    padding: 0;

    overflow: hidden;

    word-wrap: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis;

    border-radius: 0;
    background-color: transparent;
  }
}

.button {
  align-self: center;
  gap: var(--space_2xs);

  &:hover .icon {
    color: hsl(var(--secondary) / 0.8);
  }
}

.icon-add {
  color: hsl(var(--secondary));
}
