.root {
  display: flex;

  flex-direction: column;
  gap: var(--space_xs);
}

.list {
  display: flex;

  flex-direction: column;
  gap: var(--space_2xs);
}

.item {
  display: grid;

  grid-template-columns: 24px auto;

  align-items: center;
}

.input-row {
  display: flex;

  align-items: center;

  padding: var(--space_s) var(--space_xl);
  background-color: hsl(var(--card));
  border-radius: var(--border-radius-s);
  transition: var(--transition-base);

  & .textarea {
    flex: 1 1 100%;

    padding: 0;
    background-color: transparent;
    border-radius: 0;
  }
}

.error {
  box-shadow: var(--box-shadow-form);
}

.button {
  gap: var(--space_2xs);

  align-self: center;

  &:hover .icon {
    color: hsl(var(--secondary) / 0.8);
  }
}

.icon-add {
  color: hsl(var(--secondary));
}
