@import '@styles';

.root {
  align-items: center;

  min-height: 80vh;
}

.offer {
  display: grid;

  grid-template:
    'image title'
    'image text'
    'image button' / 1fr 1fr;
  place-items: center;
  text-align: center;

  @include tablet() {
    grid-template:
      'image'
      'title'
      'text'
      'button' / 1fr;

    max-width: 680px;
  }
}

.title {
  grid-area: title;
}

.text {
  display: flex;

  flex-direction: column;
  grid-area: text;
  gap: var(--space_m);
  align-items: center;
  justify-content: center;

  max-width: 500px;

  & p {
    @extend %h1-home-subtitle;

    overflow-wrap: anywhere;
  }
}

.image {
  grid-area: image;

  width: 500px;

  @include tablet() {
    width: 70vw;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.button {
  display: flex;
  grid-area: button;

  justify-content: center;

  width: 100%;

  @include tablet() {
    & button {
      width: 100%;
    }
  }
}
