@import "@styles";

.root {
  display: flex;
  flex-direction: column;
  gap: var(--section-space-4lv);

  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--section-space-5lv);
}

.title {
  @extend %diary-title;
}

.content {
  // padding: 12px;
  padding: var(--space_s) var(--space_xl);
}

.text-list {
  // @include numbered-list()
  @extend %numbered-list;
}

.cognitive-distortions {
  display: grid;
  grid-template-columns: auto;
  gap: var(--space_2xs);
}

.bias {
  display: flex;
  gap: var(--space_2xs);

  @include tablet() {
    flex-direction: column;
  }
}

.bias-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space_2xs);
}

// .form {
//     padding: var(--space_m);
//     border-radius: var(--border-radius-m);
//     // padding: 12px;
//     background-color: hsl(var(--card));
//     // border-radius: 24px;
// }
