@import "@styles";

.root {
  display: flex;

  flex-flow: column wrap;
  // align-items: center;
  gap: var(--space_l);

  padding: var(--space_xl);
  color: hsl(var(--secondary-foreground));
  background-color: hsl(var(--secondary));

  // border-radius: var(--border-radius-l);

  // margin-left: 300px;

  // width: 1000px;
  // align-self: flex-end;

  // text-align: center;
}

.logo-panel {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.copy {
  align-self: flex-end;
}
