@import '@styles';

.root {
  display: flex;

  & input {
    @extend %diary-title;

    flex-grow: 1;

    width: min(60vw, 800px);
    max-width: 100%;
    background-color: transparent;

    &::placeholder {
      color: hsl(var(--white) / 0.5);
      font-style: italic;
    }
  }
}
