@import '@styles';

.root {
    @extend %diary-title;

    display: block;
    background-color: transparent;

    &::placeholder {
        font-style: italic;
        color: hsl(var(--white)/ 0.5);
    }
}