@import '@styles';

.root {
    display: grid;
    gap: 24px;

    grid-template-columns: 453px 1fr;

    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    // width: 100vw;
    // height: calc(100vw * (9/16));
    // min-height: 100vh;
    // width: 100vw;
    padding: 16px;
    // background-color: hsl(var(--background));

    // &>:nth-child(1) {
    //     flex-grow: 1;
    // }

    // &>:nth-child(2) {
    //     flex-grow: 9;
    // }
}

.main {


    padding: var(--space_2xl);

    // width: 100vw;
    // height: calc(100vw * (9/16));

    // min-height: 100vh;
    // width: 100vw;
}